.empty-box {
  .empty {
    height: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
  // /company/ページ
  &.company-empty {
    .empty {
      width: 22.272%;
      @include media(tb) {
        width: 30.5%;
      }
      @include media(sp) {
        width: 47%;
      }
    }
  }
  // /company/ページで共通で使うパーツ
  &.company-empty.nav-company-ul {
    .empty {
      width: 27.5%;
      @include media(sp) {
        width: calc(50% - (20px + 10px));
        margin-left: 10px;
        margin-right: 10px;
      }
    }
  }
}