.empty-box {
  .empty {
    height: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
  // /company/
  &.company-empty {
    .empty {
      width: 22.272%;
      @include media(tb) {
        width: 30.5%;
      }
      @include media(sp) {
        width: 47%;
      }
    }
  }
  // /company/ページで共通で使うパーツ
  &.company-empty.nav-company-ul {
    .empty {
      width: 27.5%;
      @include media(sp) {
        width: calc(50% - (20px + 10px));
        margin-left: 10px;
        margin-right: 10px;
      }
    }
  }
  // /sitemap/
  &.sitemap__pc-col-3.sitemap-empty {
    .empty {
      width: 29.532%;
    }
  }
  // company/boardmember.html で使うパーツ
  &.company-boardmember-empty.empty-box {
    .empty {
      width: 18.8rem;
      margin-left: 2rem;
      margin-right: 2rem;
    }
  }
  // /special/sauce/01.htmlで使うパーツ
  &.sauce-01-layout-2__list-empty {
    .empty {
      width: 0;
      @include media(sp) {
        width: min(13rem, 30%);
        margin: 0 min(7.6%, 20px);
      }
    }
  }
}