// .layout-inner-wrap-max-840
.layout-inner-wrap-max-840 {
  width: 100%;
  max-width: 84rem;
  margin-left: auto;
  margin-right: auto;
}

// .layout-main-normal-margin-bottom
.layout-main-normal-margin-bottom {
  margin-bottom: 8rem;
  @include media(sp) {
    margin-bottom: 6rem;
  }
  @include media(sp-s) {
    margin-bottom: 2rem;
  }
}

// .layout__page__nav--underlayer
.layout__page__nav--underlayer {
  margin-bottom: 10rem;
  @include media(sp) {
    margin-bottom: 2rem;
  }
}

// .layout-hero-image
.layout-hero-image {
  margin-top: -3.2rem;
  @include media(tb) {
    margin-top: -2.8rem;
  }
}