// .list-dl
.list-dl {
  display: flex;
  border-bottom: solid 1px colors(color-lightgray);
  font-size: 1.6rem;
  line-height: 1.7;
  @include media(sp) {
    flex-direction: column;
    font-size: 1.4rem;
  }
  &:first-of-type {
    border-top: solid 2px colors(color-lightgray);
  }
}
.list-ol-li-title + .list-dl {
  border-top: solid 2px colors(color-lightgray);
}
.list-dl__dt {
  width: 19.272%;
  background: colors(bg-gray);
  padding: 0.9em 1.35em 1em;
  font-weight: bold;
  @include media(sp) {
    width: 100%;
    padding: 0.8em 1.125em;
  }
  .spnone {
    @include media(sp) {
      display: none;
    }
  }
}
.list-dl__dd {
  width: calc(100% - 19.272%);
  padding: 0.9em 0 1em 1.35em;
  @include media(sp) {
    width: 100%;
    padding: 0.8em 1.125em 1.5em;
  }
}
// .list-dl 別バージョン
.list-dl.type-2 {}
.list-dl__dt.type-2 {
  width: 39.5%;
  @include media(sp) {
    width: 100%;
  }
}
.list-dl__dd.type-2 {
  width: calc(100% - 39.5%);
  @include media(sp) {
    width: 100%;
  }
  .link-external__text {
    @include media(sp-s) {
      word-break: break-all;
    }
  }
}


// .list-ac
.list-ac {
  max-width: 84rem;
  border: solid 1px colors(color-gray);
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  &:last-of-type {
    margin-bottom: 0;
  }
}
.list-ac__dt {
  padding: 1.9rem 2.2rem 2rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  @include media(sp) {
    padding: 1.8rem 1.7rem 2rem 2rem;
  }
}
.list-ac__dt--title {
  font-size: 1.8rem;
  display: flex;
  background-image: url(../images/underlayer/icon_q.svg);
  background-repeat: no-repeat;
  background-size: 1.2em 1.2em;
  background-position: left 0 top 0.185em;
  padding-left: 1.8em;
  width: calc(100% - 2.6rem - 1em);
  line-height: 1.5;
  @include media(sp) {
    font-size: 1.6rem;
    width: calc(100% - 1.6rem - 1em);
  }
}
.list-ac__dt--btn {
  width: 2.6rem;
  height: 2.6rem;
  position: relative;
  top: 0.185rem;
  //background: yellow;
  @include media(sp) {
    top: 0;
  }
  &:before {
    content: "";
    display: block;
    width: 1.6rem;
    height: 0.25rem;
    background: colors(color-company);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transition: all 0.2s;
    @include media(sp) {
      width: 1.4rem;
    }
  }
  &:after {
    content: "";
    display: block;
    width: 0.25rem;
    height: 1.6rem;
    background: colors(color-company);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transition: all 0.2s;
    @include media(sp) {
      height: 1.4rem;
    }
  }
  // アコーディノン Openの時
  &.open {
    &:before {
      opacity: 0;
    }
    &:after {
      transform: rotate(-270deg);
    }
  }
}
.list-ac__dd {
  background: #F0F6F7;
  border-radius: 0 0 5px 5px;
  padding: 2rem 3rem;
  display: none;
}
.list-ac__dd--title {
  font-size: 1.8rem;
  color: colors(color-company);
  @include media(sp) {
    font-size: 1.6rem;
  }
}
.list-ac__dd--text {
  margin-bottom: 1em;
  &:last-of-type {
    margin-bottom: 0;
  }
}
.list-ac__dd--title + .list-ac__dd--text {
  padding-left: 1.15em;
}

// .list-ol
.list-ol {
  counter-reset: number 0;
}
.list-ol__li {
  line-height: 1.7;
  margin-bottom: 3.125em;
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  @include media(sp) {
    margin-bottom: 2.857em;
  }
  &:before {
    counter-increment: number 1;
    content: counter(number) ".";
    width: 2.8rem;
    font-size: 1.375em;
    font-weight: bold;
    color: colors(color-news);
    display: block;
    font-family: 'webfont-english';
  }
  &:last-of-type {
    margin-bottom: 0;
  }
  br {
    @include media(sp) {
      display: none;
    }
  }
}
.list-ol__li--wrap {
  width: calc(100% - 2.8rem);
}
.list-ol-li-title {
  font-size: 1.8rem;
  margin-bottom: 0.65em;
  @include media(sp) {
    line-height: 1.85;
    font-size: 1.6rem;
    margin-bottom: 0.5em;
  }
}
.list-ol-li-title + .list-ol-li-title {
  margin-top: calc(-0.65em * 0.7);
  @include media(sp) {
    margin-top: calc(-0.5em * 0.7);
  }
}
.list-ol-li-bold {
  font-weight: bold;
}
.list-ol-li-text {}
.list-dl.type-2 + .list-ol-li-title {
  margin-top: 1.5em;
}
.list-ol-li-text + .list-ol-li-title {
  margin-top: 1em;
}

// .list-ol-child
.list-ol-child {
  margin-top: 0.5em;
  counter-reset: number 0;
}
.list-ol-child__li {
  margin-bottom: 1em;
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  &:before {
    counter-increment: number 1;
    content: "(" counter(number) ")";
    width: 2.8rem;
    display: block;
    font-family: 'webfont-english';
  }
  &:last-of-type {
    margin-bottom: 0;
  }
  br {
    @include media(sp) {
      display: none;
    }
  }
}
.list-ol-child__li--wrap {
  width: calc(100% - 2.8rem);
}
.list-ol-child__li--wrap + .list-ol-child__li--wrap {
  margin-top: 1em;
  @include media(sp) {
    width: 100%;
  }
}
.list-ol-child__li--text {
  display: block;
}
.list-ol-child + .list-ol-li-title {
  margin-top: 1.25em;
}

// .list-ol-child-child
.list-ol-child-child {
  margin-top: 0.5em;
  counter-reset: number 0;
  margin-bottom: 1em;
}
.list-ol-child-child__li {
  margin-bottom: 0.25em;
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-between;
  &:before {
    counter-increment: number 1;
    content: counter(number);
    border: 1px solid colors(black);
    border-radius: 50%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: baseline;
    height: 1.3em;
    width: 1.3em;
    font-size: 85%;
    line-height: 1;
  }
  &:last-of-type {
    margin-bottom: 0;
  }
  br {
    @include media(sp) {
      display: none;
    }
  }
}
.list-ol-child-child__li--wrap {
  width: calc(100% - 2.4rem);
}
.list-ol-child-child__li--text {
  display: block;
}

// list-box-gray
.list-box-gray {
  display: flex;
  background: colors(bg-gray);
  padding: 2rem 4rem;
  border-radius: 5px;
  margin: 1.25em 0 1.1875em;
  font-weight: bold;
  @include media(sp) {
    flex-direction: column;
    padding: 1.428em;
  }
}
.list-box-gray__dt {
  display: flex;
  align-items: center;
  padding-right: 4rem;
  border-right: solid 1px colors(color-lightgray);
  @include media(sp) {
    padding-right: 0;
    border-right: none;
    border-bottom: solid 1px colors(color-lightgray);
    padding-bottom: 1.3em;
  }
}
.list-box-gray__dd {
  padding-left: 4rem;
  @include media(sp) {
    padding-left: 0;
    padding-top: 1.3em;
  }
}

// .ul-bold-list
.ul-bold-list {}
.ul-bold-list__li {}

.ul-bold-list + .link-btn-gray-small {
  margin-top: 1em;
}

// list-nav-column-3
.list-nav-column-3 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8rem;
  @include media(sp) {
    flex-direction: column;
    margin-bottom: 5rem;
  }
}
.list-nav-column-3__li {
  width: 30.272%;
  border-bottom: solid 1px colors(color-gray);
  display: flex;
  align-items: flex-end;
  @include media(sp) {
    width: 100%;
  }
}
.list-nav-column-3__li--a {
  width: 100%;
  font-size: 1.8rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 0.85em;
  @include media(tb) {
    font-size: 1.6rem;
  }
  @include media(sp) {
    //margin-bottom: 0.85em;
    padding-top: 0.85em;
  }
  &.list-nav-column-3-arrow {
    &:after {
      content: "";
      display: block;
      width: 0.7em;
      height: 0.7em;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url(../images/underlayer/icon_arrow.svg);
      margin-left: 0.4em;
      position: relative;
      top: -0.55em;
    }
    // 矢印の向き
    &.arrow-bottom {
      &:after {
        margin-left: 0;
        transform: rotate(90deg) translateX(0.15em);
      }
    }
  }
}

// list-btn-layout-column-2
.list-btn-layout-column-2 {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5rem;
  justify-content: space-between;
}
.list-btn-layout-column-2__li {
  width: 47.727%;
  margin-bottom: 2rem;
  @include media(sp) {
    width: 100%;
  }
  &:nth-last-of-type(-n + 2) {
    margin-bottom: 0;
    @include media(sp) {
      margin-bottom: 2rem;
    }
  }
  &:last-of-type {
    @include media(sp) {
      margin-bottom: 0;
    }
  }
}