// .title-page
.title-page {
  font-size: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1;
  margin-bottom: calc(1em * 1.25);
  @include media(sp) {
    font-size: 2.6rem;
  }
}
.title-page__large {
  order: 2;
  letter-spacing: 0.05em;
  text-align: center;
  line-height: 1.5;
  .spblock {
    display: none;
    @include media(sp) {
      display: block;
    }
  }
}
.title-page__large--small {
  font-size: 3rem;
  @include media(sp) {
    font-size: 2rem;
  }
}
.title-page__small {
  order: 1;
  font-size: 1.4rem;
  margin-bottom: 0.85em;
  @include media(sp) {
    font-size: 1rem;
  }
  // カラーパターン
  &.color-company {
    color: colors(color-company);
  }
  &.color-base {
    color: colors(color-base);
  }
}

// .title-gray-line-textbg-white
.title-gray-line-textbg-white {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
  line-height: 1.5;
  text-align: center;
  position: relative;
  @include media(sp) {
    margin-bottom: 3rem;
  }
  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background: colors(color-lightgray);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}
.title-gray-line-textbg-white__text {
  display: block;
  width: auto;
  background: colors(white);
  padding: 0 0.75em;
  position: relative;
  @include z-index-1;
  .sponly {
    display: none;
    @include media(sp) {
      display: block;
    }
  }
}