.ttl-page {
  font-size: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1;
  margin-bottom: calc(1em * 1.25);
  @include media(tb) {
    font-size: 2.6rem;
  }
  .ttl-page__large {
    order: 2;
    letter-spacing: 0.05em;
  }
  .ttl-page__small {
    order: 1;
    font-size: 1.4rem;
    color: colors(color-company);
    margin-bottom: 0.85em;
    @include media(tb) {
      font-size: 1rem;
    }
  }
}