.underlayer.company-antisocial {}

.company-antisocial-read {
  margin-bottom: 5rem;
  @include media(sp) {
    margin-bottom: 4rem;
  }
  br {
    @include media(tb) {
      display: none;
    }
  }
}
.company-antisocial__position-right {
  margin-top: 5rem;
  text-align: right;
  @include media(sp) {
    margin-top: 4rem;
  }
}