.underlayer.company-boardmember {
}

.company-message-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @include media(tb) {
    justify-content: center;
    width: 100vw;
    margin-left: -20px;
  }
  @include media(sp) {
    width: 100%;
    margin-left: auto;
    justify-content: space-between;
  }
}
.company-message-list__li {
  width: 18.8rem;
  margin-bottom: 5rem;
  @include media(tb) {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  @include media(sp) {
    width: 100%;
    margin-bottom: 3rem;
    margin-left: 0;
    margin-right: 0;
    max-width: 33.5rem;
  }
  // レイアウトパターン
  &:nth-of-type(1) {
    margin-left: calc(50% - (18.8rem / 2));
    margin-right: calc(50% - (18.8rem / 2));
    @include media(sp) {
      margin-left: 0;
      margin-right: 0;
    }
  }
  &:nth-of-type(4n+7){
    margin-left: calc((((100% - (18.8rem * 5)) / 4 ) / 2) + (18.8rem / 2));
    //background: red;
    @include media(tb) {
      margin-left: 2rem;
    }
    @include media(sp) {
      margin-left: 0;
    }
  }
  &:nth-of-type(4n+10) {
    margin-right: calc((((100% - (18.8rem * 5)) / 4 ) / 2) + (18.8rem / 2));
    //background: blue;
    @include media(tb) {
      margin-right: 2rem;
    }
    @include media(sp) {
      margin-right: 0;
    }
  }
}
.company-message-dl {
  width: 100%;
  @include media(sp) {
    display: flex;
    align-items: flex-start;
  }
}
.company-message-dl__dt {
  width: 100%;
  text-align: center;
  @include media(sp) {
    width: 8.5rem;
    margin-right: 1.5rem;
  }
}
.company-message-dl__dt--images {
  display: block;
  border-radius: 5px;
}
.company-message-dl__dd {
  text-align: center;
  @include media(sp) {
    width: calc(100% - 8.5rem - 1.5rem);
    text-align: left;
  }
}
.company-message-dl__dd--large {
  font-size: 1.6rem;
  display: block;
  line-height: 1.5;
  margin: 0.8em 0 0.2em;
  white-space: nowrap;
  // @include media(tb) {
  //   font-size: calc(16/1440*100vw);
  // }
  @include media(sp) {
    font-size: 1.4rem;
    margin: 0 0 0.35em;
  }
}
.company-message-dl__dd--small {
  font-size: 1.4rem;
  display: block;
  line-height: 1.5;
  margin: 0 0 0.4em;
  white-space: nowrap;
  @include media(tb) {
    //font-size: calc(14/1440*100vw);
  }
  @include media(sp) {
    font-size: 1.2rem;
    margin: 0 0 0.83em;
    white-space: break-spaces;
  }
  .spnone {
    @include media(sp) {
      display: none;
    }
  }
  .pconly {
    display: block;
    @include media(sp) {
      display: none;
    }
  }
  .sponly {
    display: none;
    @include media(sp) {
      display: block;
    }
  }
}
.company-message-dl__dd--name {
  font-size: 1.8rem;
  font-weight: bold;
  @include media(tb) {
    //font-size: calc(18/1440*100vw);
  }
  @include media(sp) {
    font-size: 1.6rem;
  }
}
.text-last {
  font-size: 1.4rem;
  display: flex;
  margin-top: 2rem;
  &:before {
    content: "※";
    width: 1em;
    height: 1em;
    display: block;
  }
}