.underlayer.company-group {}

.link-list-company-group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 5rem;
}
.link-list-company-group__li {
  width: 21.545%;
  line-height: 1;
  @include media(sp) {
    width: 47%;
    margin-bottom: 1.2rem;
  }
  &:nth-last-of-type(-n+2) {
    margin-bottom: 0;
  }
}
.link-list-company-group__li--a {
  display: block;
  height: 100%;
  font-weight: bold;
  border-bottom: solid 1px colors(color-gray);
  padding: 1em 0;
  background-image: url(../images/underlayer/icon_arrow_color-base_bottom.svg);
  background-size: 0.6875em 0.4375em;
  background-repeat: no-repeat;
  background-position: right center;
}

.company-group-layout {
  margin-bottom: 10rem;
  @include media(sp) {
    margin-bottom: 6rem;
  }
  &:last-of-type {
    margin-bottom: 0;
  }
}

// 本社（コンポーネント含む）
.company-group-main {}
.company-group-layout__title {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
  line-height: 1;
  position: relative;
  @include media(sp) {
    margin-bottom: 3rem;
  }
  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background: colors(color-lightgray);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}
.company-group-layout__title--text {
  display: block;
  width: auto;
  background: colors(white);
  padding: 0 0.75em;
  position: relative;
  @include z-index-1;
}

.company-group-layout-wrap {
  margin-bottom: 5rem;
  @include media(sp) {
    margin-bottom: 3rem;
  }
}
.col2-group-layout {
  display: flex;
  justify-content: space-between;
  @include media(sp) {
    flex-direction: column;
  }
  // 別パターン
  &.margin-bottom-0 {
    margin-bottom: 0;
  }
}
.col2-group-layout__map {
  width: 47.727%;
  padding-top: 32.727%;
  overflow: hidden;
  position: relative;
  @include media(sp) {
    width: 100%;
    padding-top: 68.507%;
    margin-bottom: 2.5rem;
  }
  iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}
.col2-group-layout__box {
  width: 47.727%;
  @include media(sp) {
    width: 100%;
  }
}

.dl-group {
  display: flex;
}
.dl-group__dt {
  width: 3.8em;
  display: flex;
  justify-content: space-between;
  &:after {
    content: ":";
    display: block;
    width: 1.4em;
  }
}
.dl-group__dd {
  width: calc(100% - 2.8em);
}
.col2-group-layout__boxcol2 {
  margin-top: 1.4rem;
  @include media(sp) {
    margin-top: 2.5rem;
    display: flex;
    justify-content: space-between;
  }
}
.col2-group-layout__boxcol2--btns {
  @include media(sp) {
    width: 55%;
  }
}
.btn-group {
  width: 20rem;
  margin-bottom: 1rem;
  @include media(sp) {
    width: 100%;
  }
}
.btn-group__a {
  display: block;
  width: 100%;
  background: #EBEBEB;
  border-radius: 100px;
  text-align: center;
  background-image: url(../images/underlayer/icon_external-link.svg);
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center right 1.5rem;
  line-height: 1;
  padding: 0.625em 0;
  // 別パターン
  &.text-indent {
    text-indent: -0.6em;
  }
}
.col2-group-layout__box--image {
  width: 20rem;
  margin-top: 2rem;
  @include media(sp) {
    width: 38.8%;
    margin-top: 0;
  }
}

// 支店・営業所
.company-group-address {}

// 工場・物流
company-group-factory {}

// 関連会社
.company-group-connection {}