.company-ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 3.6rem;
}
.company-ul__li {
  width: 22.272%;
  margin-bottom: 5rem;
  @include media(tb) {
    width: 30.5%;
  }
  @include media(sp) {
    width: 47%;
  }
}
.company-ul__li--a {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 100%;
  }
  span {
    font-size: 1.8rem;
    line-height: 1;
    display: flex;
    align-items: center;
    display: block;
    margin-top: 0.8em;
    @include media(tb) {
      font-size: 1.6rem;
    }
    &:after {
      content: "";
      display: inline-block;
      width: 0.7em;
      height: 0.7em;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url(../images/underlayer/icon_arrow.svg);
      margin-left: 0.4em;
    }
  }
}

.company-ul2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8rem;
  @include media(sp) {
    flex-direction: column;
  }
}
.company-ul2__li {
  width: 30.272%;
  @include media(sp) {
    width: 100%;
  }
}
.company-ul2__li--a {
  width: 100%;
  font-size: 1.8rem;
  border-bottom: solid 1px colors(color-gray);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.85em;
  @include media(tb) {
    font-size: 1.6rem;
  }
  @include media(sp) {
    margin-bottom: 0.85em;
  }
  &:after {
    content: "";
    display: block;
    width: 0.7em;
    height: 0.7em;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../images/underlayer/icon_arrow.svg);
    margin-left: 0.4em;
  }
}