// parts ※共通パーツ
//=====================================================
.btn {
  width: calc(554/750*100vw);
  list-style-type: none;
  @include media(pc) {
    width: calc(325/1440*100vw);
  }
  a {
    //display: block;
    width: 100%;
    height: calc(96/750*100vw);
    text-align: center;
    font-size: calc(31/750*100vw);
    @include tsukuard;
    border-radius: 100px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;;
    @include media(pc) {
      height: calc(56/1440*100vw);
      font-size: calc(18/1440*100vw);
    }
  }
  // カラーパターン
  &.green {
    a {
      border: solid 1px colors(green);
      background: colors(green);
      color: colors(white);
      &:hover {
        @include media(pc) {
          transform: Scale(1.08);
          @include img-shadow;
        }
      }
    }
  }
  &.white {
    a {
      border: solid 1px colors(green);
      background: colors(white);
      color: colors(green);
      &:hover {
        @include media(pc) {
          transform: Scale(1.08);
          @include img-shadow;
        }
      }
    }
  }
  // アイコン
  &.icon-green-cart {
    a {
      &:before {
        content: "";
        display: inline-block;
        width: 1.2em;
        height: 1.2em;
        background-image: url(../img/icon-green-cart.svg);
        background-size: contain;
        background-repeat: no-repeat;
        margin-right: 0.3em;
      }
    }
  }
}

.pcnone {
  @include media(pc) {
    display: none;
  }
}

.pconly {
  display: none;
  @include media(pc) {
    display: block;
  }
}
