@charset "UTF-8";
:root {
  --black-rich: #121212;
  --black: #573830;
  --white: #FFF;
  --primary: #8D2020;
  --bg-light: #FDF7ED;
  --bg-dark: #573830;
}

/*-------------------------------------
リセットCSS
--------------------------------------*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, a, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

a:hover {
  transition: all 0.3s ease-in;
}

ins {
  color: var(--black);
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  font-style: normal;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

input[type=submit],
input[type=button],
input[type=radio] select {
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  appearance: button;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
}

input[type=submit]::-webkit-search-decoration,
input[type=button]::-webkit-search-decoration,
input[type=radio]::-webkit-search-decoration select::-webkit-search-decoration {
  display: none;
}

input[type=submit]::focus,
input[type=button]::focus,
input[type=radio]::focus select::focus {
  outline-offset: -2px;
}

html {
  font-size: 55%;
}
@media (min-width: 375px) {
  html {
    font-size: 62.5%;
  }
}
@media (min-width: 560px) {
  html {
    font-size: 62.5%;
  }
}
@media (min-width: ) {
  html {
    font-size: 72%;
  }
}
@media (min-width: 768px) {
  html {
    font-size: 52%;
  }
}
@media (min-width: 1024px) {
  html {
    font-size: 62.5%;
  }
}
@media (min-width: 1280px) {
  html {
    font-size: 62.5%;
  }
}
@media (min-width: 1440px) {
  html {
    font-size: 65%;
  }
}
@media (min-width: 1680px) {
  html {
    font-size: 67.5%;
  }
}
@media (min-width: 1980px) {
  html {
    font-size: 70%;
  }
}

body {
  font-size: 10px;
  font-size: 1rem;
  line-height: 1;
  box-sizing: border-box;
  color: var(--black);
  font-family: ryo-gothic-plusn, YuGothic, "Yu Gothic Medium", "Yu Gothic", "Hiragino Kaku Gothic ProN", Verdana, Meiryo, sans-serif;
  font-weight: 500;
  font-style: normal;
}

body.fixed {
  position: fixed;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  -webkit-overflow-scrolling: touch;
}

img,
video,
object,
picture {
  max-width: 100%;
  height: auto;
  border: none;
  display: block;
  width: 100%;
  vertical-align: bottom;
}

a {
  color: var(--black);
  text-decoration: none;
}

input,
button,
select,
textarea {
  background: transparent;
  border: none;
  border-radius: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  font-style: normal;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul, ol, li,
dl, dt, dd,
table, tr, th, td,
small,
time,
a,
span,
div {
  line-height: 1;
  box-sizing: border-box;
}

.ttl__bg {
  width: 100%;
  height: calc(81/750*100vw);
  background-image: url(../img/ttl-bg.svg);
  background-repeat: repeat-x;
  background-size: calc(10/750*100vw) calc(81/750*100vw);
  line-height: calc(81/750*100vw);
  text-align: center;
  font-family: garamond-premier-pro, serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.018em;
  font-size: calc(44/750*100vw);
}

.btn__normal a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(95/750*100vw);
  background: var(--primary);
  color: var(--white);
  position: relative;
  font-size: calc(33/750*100vw);
  overflow: hidden;
}
.btn__normal a .btntext {
  text-align: center;
  line-height: 1.266;
  position: relative;
  z-index: 2;
}
.btn__normal a:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 10vw;
  height: 10vw;
  margin: auto;
  background-color: var(--bg-dark);
  border-radius: 50%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: 0.85s ease all;
  -o-transition: 0.85s ease all;
  transition: 0.85s ease all;
  z-index: 1;
}
.btn__normal a:after {
  content: "";
  width: calc(24/750*100vw);
  height: calc(24/750*100vw);
  display: block;
  background-image: url(../img/icon-blank.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0.787em;
  z-index: 2;
}
.btn__normal a:hover:before {
  transform: scale(10);
}
.btn__normal.fs30--sp a {
  font-size: calc(30/750*100vw);
}

.common__wrap {
  width: 100%;
}

.common__header {
  background: var(--bg-light);
  padding-top: calc(19/750*100vw);
  height: calc(317/750*100vw);
}
.common__header .inner-layout {
  width: calc(678/750*100vw);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: calc(32/750*100vw);
}
.common__header .logo {
  display: block;
  width: calc(248/750*100vw);
  margin: 0 auto;
}
.common__header .ttllayout {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.common__header .ttllayout h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.common__header .ttllayout h1 .small {
  font-size: calc(37/750*100vw);
  margin-bottom: 0.432em;
}
.common__header .ttllayout h1 .large {
  font-size: calc(60/750*100vw);
  letter-spacing: -0.06em;
  margin-bottom: 0.266em;
}
.common__header .ttllayout .subttl {
  font-size: calc(33/750*100vw);
  font-family: garamond-premier-pro, serif;
  font-weight: 400;
  font-style: normal;
  color: #891A41;
}
.common__header .pic {
  width: calc(196/750*100vw);
}

.common__main {
  width: 100%;
  position: relative;
  min-height: 100vh;
  min-height: 100dvh;
  min-height: calc(var(--vh2, 1vh) * 100);
}

.common__footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: calc(212/750*100vw);
  background: var(--bg-light);
  position: relative;
}
.common__footer .backtotop {
  display: block;
  width: calc(95/750*100vw);
  position: absolute;
  bottom: calc(126/750*100vw);
  right: calc(30/750*100vw);
}
.common__footer .backtotop img {
  display: block;
  width: 100%;
}
.common__footer .footerlogo {
  display: block;
  width: calc(143/750*100vw);
}
.common__footer small {
  font-size: min(26 / 750 * 100vw, 2rem);
  padding: 1.23em 0 1.8em;
}

.fv {
  width: 100%;
  height: calc(100vh - (317/750*100vw));
  height: calc(100dvh - (317/750*100vw));
  height: calc((var(--vh2, 1vh) * 100) - (317/750*100vw));
  position: relative;
}
.fv .swiper {
  width: 100%;
  height: 100%;
}
.fv .swiper-wrapper {
  width: 100%;
  height: 100%;
}
.fv .swiper-slide {
  width: 100%;
  height: 100%;
}
.fv .swiper-slide .slide-img {
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
}
.fv .swiper-slide img {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.fv .swiper-slide.nth-1 .slide-img {
  background-image: url(../img/slide01--sp.jpg);
}
@media (min-width: 560px) {
  .fv .swiper-slide.nth-1 .slide-img {
    background-image: url(../img/slide01--sp@2x.jpg);
  }
}
.fv .swiper-slide.nth-2 .slide-img {
  background-image: url(../img/slide02--sp.jpg);
}
@media (min-width: 560px) {
  .fv .swiper-slide.nth-2 .slide-img {
    background-image: url(../img/slide02--sp@2x.jpg);
  }
}
.fv .swiper-slide.nth-3 .slide-img {
  background-image: url(../img/slide03--sp.jpg);
}
@media (min-width: 560px) {
  .fv .swiper-slide.nth-3 .slide-img {
    background-image: url(../img/slide03--sp@2x.jpg);
  }
}
.fv .swiper-slide.nth-4 .slide-img {
  background-image: url(../img/slide04--sp.jpg);
}
@media (min-width: 560px) {
  .fv .swiper-slide.nth-4 .slide-img {
    background-image: url(../img/slide04--sp@2x.jpg);
  }
}
.fv .swiper-slide.swiper-slide-active .slide-img, .fv .swiper-slide.swiper-slide-duplicate-active .slide-img, .fv .swiper-slide.swiper-slide-prev .slide-img {
  animation: zoomdown 6.5s linear 0s 1 normal both;
}
.fv .icon-scroll--sp {
  display: block;
  width: calc(84/750*100vw);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
  animation-name: icon-scroll--sp;
  animation-duration: 1.65s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@media (min-width: 1024px) {
  .fv .icon-scroll--sp {
    display: none;
  }
}

@keyframes zoomdown {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.01);
  }
}
@keyframes icon-scroll--sp {
  0% {
    transform: translateY(-18px);
  }
  100% {
    transform: translateY(0);
  }
}
.sec01 {
  background: var(--bg-dark);
  padding-top: calc(124/750*100vw);
  padding-bottom: calc(173/750*100vw);
}
.sec01 .ttl {
  color: #FFE29F;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.sec01 .ttl .small {
  font-size: calc(39/750*100vw);
  line-height: 1.538;
  margin-bottom: 0.2em;
}
.sec01 .ttl .large {
  font-size: calc(48/750*100vw);
  line-height: 1.604;
}
.sec01 .text {
  color: #FFFCF7;
  font-size: calc(36/750*100vw);
  line-height: 2;
  letter-spacing: -0.05em;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 2.45em;
}
.sec01 img {
  display: block;
  width: calc(646/750*100vw);
  margin: 0 auto;
}

.parallax-bg {
  display: block;
  width: 100%;
  height: calc(640/750*100vw);
  background-image: url(../img/parallax-bg--sp@2x.jpg);
  background-size: 100% auto;
  background-position: center top;
  background-repeat: no-repeat;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .parallax-bg {
    background-image: url(../img/parallax-bg--sp@3x.jpg);
  }
}

.sec02 {
  background: var(--bg-dark);
  padding-top: calc(132/750*100vw);
  padding-bottom: calc(125/750*100vw);
}
.sec02 .inner-layout {
  width: calc(626/750*100vw);
  background: var(--white);
  margin: 0 auto;
  padding-bottom: calc(172/750*100vw);
  border-radius: calc(14/750*100vw);
  box-shadow: calc(10/750*100vw) calc(10/750*100vw) 4px #321915;
}
.sec02 .ttl {
  font-size: calc(39/750*100vw);
  line-height: 1.538;
  letter-spacing: -0.04em;
  font-weight: bold;
  text-align: center;
  padding-top: 1.35em;
  margin-bottom: 1.15em;
}
.sec02 ol {
  list-style: none;
  width: 100%;
}
.sec02 ol li {
  width: 100%;
}
.sec02 .ttlmiddle {
  display: flex;
  justify-content: center;
  background: #8D2020;
  width: 90%;
  border-radius: 100px;
  color: var(--white);
  align-items: center;
  font-size: calc(34/750*100vw);
  padding: 0.2em 0 0.15em;
  margin: 0 auto;
}
.sec02 .ttlmiddle .jp {
  letter-spacing: -0.04em;
  margin-right: 0.15em;
}
.sec02 .ttlmiddle .en {
  font-size: calc(59/750*100vw);
  font-family: garamond-premier-pro, serif;
  font-weight: 400;
  font-style: normal;
}
.sec02 .text {
  font-size: calc(34/750*100vw);
  letter-spacing: -0.06em;
  text-align: center;
  margin-top: 0.7em;
}
.sec02 .img {
  display: block;
  width: 100%;
}
.sec02 .img img {
  width: 100%;
}
.sec02 .textbox {
  background: var(--primary);
  border-radius: calc(13/750*100vw);
  width: calc(541/750*100vw);
  margin: 0 auto;
  margin-top: calc(47/750*100vw);
  position: relative;
  padding-top: calc(30/750*100vw);
  padding-bottom: calc(36/750*100vw);
}
.sec02 .textbox:before {
  content: "";
  display: block;
  width: calc(55/750*100vw);
  height: calc(47/750*100vw);
  background-image: url(../img/sec02_triangle.svg);
  background-size: calc(55/750*100vw) calc(47/750*100vw);
  position: absolute;
  top: calc(-47/750*100vw);
  left: 0;
  right: 0;
  margin: auto;
}
.sec02 .textbox p {
  color: var(--white);
  text-align: center;
}
.sec02 .textbox p .large {
  display: block;
  font-size: calc(48/750*100vw);
  letter-spacing: -0.04em;
  margin-bottom: 0.2em;
}
.sec02 .textbox p .normal {
  font-size: calc(34/750*100vw);
  letter-spacing: -0.04em;
  font-weight: bold;
  line-height: 1.588;
}
.sec02 .textbox .spicon .pic {
  position: absolute;
}
.sec02 .textbox .spicon .pic img {
  width: 100%;
}
.sec02 .textbox .spicon .pic.pic01 {
  width: calc(133/750*100vw);
  height: calc(148/750*100vw);
  top: calc(-64/750*100vw);
  left: calc(15/750*100vw);
}
.sec02 .textbox .spicon .pic.pic02 {
  width: calc(187/750*100vw);
  height: calc(169/750*100vw);
  top: calc(-68/750*100vw);
  left: calc(386/750*100vw);
}
.sec02 .textbox .spicon .pic.pic03 {
  width: calc(148/750*100vw);
  height: calc(148/750*100vw);
  top: calc(323/750*100vw);
  left: calc(-17/750*100vw);
}
.sec02 .textbox .spicon .pic.pic04 {
  width: calc(148/750*100vw);
  height: calc(155/750*100vw);
  top: calc(322/750*100vw);
  left: calc(429/750*100vw);
}

.sec03 {
  background: var(--bg-light);
  padding-top: calc(94/750*100vw);
}
.sec03 .inner-layout-1 {
  width: calc(628/750*100vw);
  margin: 0 auto;
  padding-bottom: calc(40/750*100vw);
}
.sec03 .ttl__bg {
  margin-bottom: calc(22/750*100vw);
}
.sec03 .readlayout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sec03 .readlayout .img {
  width: calc(135/750*100vw);
}
.sec03 .readlayout .textbox {
  width: calc(472/750*100vw);
  display: flex;
  flex-direction: column;
}
.sec03 .readlayout .textbox .textboxtop {
  white-space: nowrap;
  letter-spacing: -0.04em;
  font-size: calc(30/750*100vw);
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0.333em;
}
.sec03 .readlayout .textbox .textboxtop .yellow {
  color: #F2B035;
}
.sec03 .readlayout .textbox .textboxtop .black {
  color: var(--black);
}
.sec03 .readlayout .textbox .textboxtop .pink {
  color: #E6918E;
}
.sec03 .readlayout .textbox .textboxbottom {
  font-size: calc(59/750*100vw);
  font-weight: bold;
  white-space: nowrap;
}
.sec03 .readtext {
  text-align: center;
  line-height: 1.562;
  font-size: calc(32/750*100vw);
  letter-spacing: -0.04em;
  margin-top: 0.45em;
  margin-bottom: 1em;
}

.tab-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5.15%;
}
.tab-list .tab-list-item {
  text-align: center;
  width: 29.9%;
  margin-bottom: calc(26/750*100vw);
}
.tab-list .tab-list-item:nth-last-of-type(-n + 2) {
  margin-bottom: 0;
}
.tab-list .tab-list-item .img {
  width: 100%;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.tab-list .tab-list-item .img:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #FFFCF7;
  z-index: 2;
  opacity: 0;
  transition: 0.3s ease;
}
.tab-list .tab-list-item .img img {
  position: relative;
  z-index: 1;
}
.tab-list .tab-list-item .text {
  font-size: calc(30/750*100vw);
  letter-spacing: -0.04em;
  display: block;
  margin-top: 0.333em;
  transition: 0.3s ease;
}
.tab-list .tab-list-item:hover {
  cursor: pointer;
}
.tab-list .tab-list-item.active .img:before {
  opacity: 0.6;
}
.tab-list .tab-list-item.active .text {
  font-weight: bold;
  color: var(--primary);
}

.tab-contents-item {
  display: none;
}
.tab-contents-item.show {
  display: block;
  animation-name: animedisplay;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.tab-contents {
  background: var(--bg-dark);
  padding-top: min(55 / 750 * 100vw);
  padding-bottom: min(111 / 750 * 100vw);
}
.tab-contents .swiperlayout {
  width: 96%;
  margin-left: 4%;
}

.swiper.swiper-recipe .swiper-wrapper .swiper-slide {
  background: var(--white);
}

.cardswiper {
  padding-bottom: calc(32/750*100vw);
}
.cardswiper .inner-layout {
  width: 87.5%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.cardswiper .ttl {
  order: 6;
  width: 100%;
  height: calc(130/750*100vw);
  font-size: calc(40/750*100vw);
  letter-spacing: -0.04em;
  color: var(--black-rich);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardswiper .ttl .ttltext {
  display: block;
  line-height: 1.272;
}
.cardswiper .ttlsub {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  font-size: calc(31/750*100vw);
  letter-spacing: 0.018em;
  font-family: garamond-premier-pro, serif;
  font-weight: 400;
  font-style: normal;
  order: 1;
  padding-top: 0.8em;
  padding-bottom: 0.58em;
}
.cardswiper .ttlsub img {
  width: 0.612em;
  height: 0.612em;
  margin: 0 0.35em;
}
.cardswiper .mainimg {
  order: 2;
}
.cardswiper .subimg {
  order: 3;
  margin-top: -13%;
}
.cardswiper .ratio1 {
  order: 4;
  font-size: calc(26/750*100vw);
  color: var(--black-rich);
  text-align: center;
  margin-top: 0.3em;
  margin-bottom: 0.46em;
}
.cardswiper .ratio2 {
  order: 5;
  font-size: calc(46/750*100vw);
  display: flex;
  justify-content: center;
  font-family: garamond-premier-pro, serif;
  font-weight: 400;
  font-style: normal;
  gap: 0 0.45em;
  border-top: solid 1px var(--black-rich);
  border-bottom: solid 1px var(--black-rich);
  padding-top: 0.4em;
  padding-bottom: 0.28em;
}
.cardswiper .ratio2 .black {
  color: var(--black-rich);
}
.cardswiper .ratio2 .yellow {
  color: #F0A800;
}
.cardswiper .ratio2 .brown {
  color: #8B5000;
}
.cardswiper .btn__normal {
  order: 7;
}

.swiper-recipe-pagination {
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
  margin-top: calc(16/750*100vw);
  color: white;
  text-align: left;
  font-size: calc(36/750*100vw);
  font-family: garamond-premier-pro, serif;
  font-weight: 400;
  font-style: normal;
}
.swiper-recipe-pagination .swiper-pagination-current {
  font-size: calc(50/750*100vw);
  margin-right: calc(6/750*100vw);
}
.swiper-recipe-pagination .swiper-pagination-total {
  margin-left: calc(6/750*100vw);
}

.arrowlayout {
  display: flex;
  justify-content: center;
  gap: 0 calc(63/750*100vw);
  width: 92vw;
  margin-top: calc(-25/750*100vw);
}
.arrowlayout .swiper-button-next, .arrowlayout .swiper-rtl .swiper-button-prev {
  position: relative;
  top: 0;
  left: 0;
  margin-top: 0;
  width: calc(84/750*100vw);
  height: calc(112/750*100vw);
  background-image: url(../img/icon-slidearrow-prev.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.arrowlayout .swiper-button-next:after, .arrowlayout .swiper-rtl .swiper-button-prev:after {
  content: none;
}
.arrowlayout .swiper-button-prev, .arrowlayout .swiper-rtl .swiper-button-next {
  position: relative;
  top: 0;
  left: 0;
  margin-top: 0;
  width: calc(84/750*100vw);
  height: calc(112/750*100vw);
  background-image: url(../img/icon-slidearrow-next.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.arrowlayout .swiper-button-prev:after, .arrowlayout .swiper-rtl .swiper-button-next:after {
  content: none;
}

.productlayout {
  width: calc(626/750*100vw);
  margin: 0 auto;
  margin-top: calc(57/750*100vw);
  background: var(--white);
  padding: calc(56/750*100vw) 0 calc(68/750*100vw);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-bottom: calc(111/750*100vw);
}
.productlayout:before {
  content: "";
  display: block;
  width: calc(44/750*100vw);
  height: calc(27/750*100vw);
  position: absolute;
  top: calc(-27/750*100vw);
  left: 0;
  right: 0;
  margin: auto;
  background-image: url(../img/sec03_triangle.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.productlayout .ttlproduct {
  font-size: calc(32/750*100vw);
  letter-spacing: -0.04em;
  text-align: center;
  line-height: 1.75;
  font-weight: bold;
  margin-bottom: 0.85em;
}
.productlayout .ttlproduct span {
  color: #E57C78;
  font-size: calc(38/750*100vw);
}
.productlayout .imgproduct {
  width: calc(284/750*100vw);
  margin-bottom: calc(41/750*100vw);
}
.productlayout .btn__normal {
  width: calc(544/750*100vw);
}

@keyframes animedisplay {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
.topicslayout {
  background: var(--bg-dark);
}
.topicslayout .inner-layout-3 {
  width: calc(626/750*100vw);
  margin: 0 auto;
  background: var(--white);
  padding-bottom: calc(125/750*100vw);
}
.topicslayout .ttl {
  background: #537767;
  color: var(--white);
  font-family: garamond-premier-pro, serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: calc(40/750*100vw);
  letter-spacing: 0.018em;
  width: calc(430/750*100vw);
  height: calc(68/750*100vw);
  line-height: calc(68/750*100vw);
  margin: 0 auto;
  position: relative;
  top: calc(-34/750*100vw);
}
.topicslayout .icon {
  width: calc(240/750*100vw);
  margin: 0 auto;
}
.topicslayout .read {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.topicslayout .read .nth-1 {
  font-size: calc(32/750*100vw);
  line-height: 1.406;
}
.topicslayout .read .nth-2 {
  font-size: calc(44/750*100vw);
  letter-spacing: -0.03em;
  line-height: 1.386;
  margin: calc(15/750*100vw) 0;
}
.topicslayout .read .nth-3 {
  font-size: calc(34/750*100vw);
  letter-spacing: -0.06em;
  line-height: 1.647;
}
.topicslayout .card {
  width: calc(420/750*100vw);
  margin: 0 auto;
  margin-top: calc(60/750*100vw);
  list-style: none;
}
.topicslayout .cardlist {
  margin-bottom: calc(74/750*100vw);
}
.topicslayout .cardlist .cardimg {
  width: 100%;
  display: block;
  overflow: hidden;
}
.topicslayout .cardlist .cardimg img {
  display: block;
  transform: Scale(1.01);
  transition: 0.75s ease;
}
.topicslayout .cardlist .cardlayout {
  display: flex;
  justify-content: flex-start;
  margin-top: calc(15/750*100vw);
}
.topicslayout .cardlist .cardicon {
  width: calc(110/750*100vw);
  margin-right: calc(10/750*100vw);
}
.topicslayout .cardlist .cardttl {
  font-size: calc(28/750*100vw);
  letter-spacing: -0.03em;
  line-height: 1.285;
  white-space: nowrap;
}
.topicslayout .cardlist .cardrecipename {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 calc(16/750*100vw);
  margin-top: calc(22/750*100vw);
}
.topicslayout .cardlist .cardrecipename:after {
  content: "";
  display: block;
  width: calc(38/750*100vw);
  height: calc(38/750*100vw);
  background-image: url(../img/icon-arrowcircle.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.topicslayout .cardlist .cardrecipename .cardrecipenametext {
  font-size: calc(30/750*100vw);
  letter-spacing: -0.06em;
  line-height: 1.4;
  white-space: nowrap;
}
.topicslayout .cardlist a:hover .cardimg img {
  transform: Scale(1.1);
}
.topicslayout .btn__normal {
  width: calc(544/750*100vw);
  margin-top: calc(85/750*100vw);
  margin: 0 auto;
}

.sec04 {
  padding-top: calc(92/750*100vw);
  background: var(--bg-light);
}
.sec04 .inner-layout {
  width: calc(630/750*100vw);
  margin: 0 auto;
}
.sec04 .ttl {
  font-size: calc(52/750*100vw);
  text-align: center;
  margin-top: 1em;
}
.sec04 .read {
  font-size: calc(32/750*100vw);
  white-space: nowrap;
  text-align: center;
  margin-top: 0.8em;
  margin-bottom: calc(64/750*100vw);
}
.sec04 .product {
  margin-bottom: calc(148/750*100vw);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sec04 .product:last-of-type {
  margin-bottom: 0;
}
.sec04 .product h3 {
  order: 2;
  font-size: calc(44/750*100vw);
  letter-spacing: -0.06em;
  font-weight: bold;
  margin-top: calc(36/750*100vw);
}
.sec04 .product .sauce {
  order: 1;
  width: calc(142/750*100vw);
}
.sec04 .product .sauce img {
  width: 100%;
}
.sec04 .product p {
  order: 3;
  font-size: calc(34/750*100vw);
  letter-spacing: -0.06em;
  line-height: 1.647;
  margin-top: calc(16/750*100vw);
}
.sec04 .product .btn__normal {
  order: 4;
  width: calc(544/750*100vw);
  margin-top: calc(19/750*100vw);
}

/*# sourceMappingURL=style.css.map */
