@charset "UTF-8";
:root {
  --black: #323232;
  --white: #FFF;
  --primary: #992113;
  --secondary: #D1B64F;
  --tertiary: #5A302C;
}

/*-------------------------------------
リセットCSS
--------------------------------------*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, a, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

a:hover {
  transition: all 0.3s ease-in;
}

ins {
  color: var(--black);
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  font-style: normal;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

input[type=submit],
input[type=button],
input[type=radio] select {
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  appearance: button;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
}

input[type=submit]::-webkit-search-decoration,
input[type=button]::-webkit-search-decoration,
input[type=radio]::-webkit-search-decoration select::-webkit-search-decoration {
  display: none;
}

input[type=submit]::focus,
input[type=button]::focus,
input[type=radio]::focus select::focus {
  outline-offset: -2px;
}

html {
  font-size: 55%;
}
@media (min-width: 375px) {
  html {
    font-size: 62.5%;
  }
}
@media (min-width: ) {
  html {
    font-size: 62.5%;
  }
}
@media (min-width: ) {
  html {
    font-size: 72%;
  }
}
@media (min-width: ) {
  html {
    font-size: 52%;
  }
}
@media (min-width: 857px) {
  html {
    font-size: 62.5%;
  }
}
@media (min-width: 1280px) {
  html {
    font-size: 62.5%;
  }
}
@media (min-width: 1440px) {
  html {
    font-size: 65%;
  }
}
@media (min-width: 1680px) {
  html {
    font-size: 67.5%;
  }
}
@media (min-width: 1980px) {
  html {
    font-size: 70%;
  }
}

body {
  font-size: 10px;
  font-size: 1rem;
  line-height: 1;
  box-sizing: border-box;
  color: var(--black);
  font-family: "Helvetica Neue", HelveticaNeue, -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Noto Sans JP", YuGothic, "Yu Gothic Medium", "Yu Gothic", "Hiragino Kaku Gothic ProN", Verdana, Meiryo, sans-serif;
}

body.fixed {
  position: fixed;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  -webkit-overflow-scrolling: touch;
}

img,
video,
object,
picture {
  max-width: 100%;
  height: auto;
  border: none;
  display: block;
  width: 100%;
  vertical-align: bottom;
}

a {
  color: var(--black);
  text-decoration: none;
}

input,
button,
select,
textarea {
  background: transparent;
  border: none;
  border-radius: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul, ol, li,
dl, dt, dd,
table, tr, th, td,
small,
time,
a,
span,
div {
  line-height: 1;
  box-sizing: border-box;
}

.common__main {
  width: 100%;
  position: relative;
  z-index: 1;
}
@media (min-width: 857px) {
  .common__main {
    overflow: hidden;
  }
}

.common__footer {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.common__footer a {
  width: min(85 / 750 * 100vw, 8.5rem);
}
@media (min-width: 857px) {
  .common__footer a {
    width: min(60 / 1440 * 100vw, 6rem);
  }
}
.common__footer small {
  font-size: min(20 / 750 * 100vw, 2rem);
  padding: 1.5em 0 2em;
}
@media (min-width: 857px) {
  .common__footer small {
    font-size: min(12 / 1440 * 100vw, 1.2rem);
    padding: 1.5em 0 2.5em;
  }
}

.home .red {
  color: var(--primary);
}
.home .bgimages {
  width: 100%;
  height: min(500 / 750 * 100vw, 50rem);
  position: relative;
  overflow: hidden;
}
@media (min-width: 857px) {
  .home .bgimages {
    height: min(320 / 1440 * 100vw, 32rem);
  }
}
.home em {
  font-weight: bold;
  font-style: normal;
}
.home .btnlayout {
  width: min(630 / 750 * 100vw, 63rem);
  height: min(100 / 750 * 100vw, 10rem);
  margin: 0 auto;
}
@media (min-width: 857px) {
  .home .btnlayout {
    width: min(430 / 1440 * 100vw, 43rem);
    height: min(70 / 1440 * 100vw, 7rem);
  }
}
.home .btnlayout a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: var(--tertiary);
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  transition: 0.5s ease;
}
.home .btnlayout a img {
  margin-left: max(-20 / 750 * 100vw, -2rem);
}
@media (min-width: 857px) {
  .home .btnlayout a img {
    margin-left: max(-20 / 1440 * 100vw, -2rem);
  }
}
.home .btnlayout a:after {
  content: "";
  display: block;
  width: min(24 / 750 * 100vw, 2.4rem);
  height: min(24 / 750 * 100vw, 2.4rem);
  background-image: url(../img/icon-targetblank.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  right: min(30 / 750 * 100vw, 3rem);
  bottom: 0;
  margin: auto;
}
@media (min-width: 857px) {
  .home .btnlayout a:after {
    width: min(18 / 1440 * 100vw, 1.8rem);
    height: min(18 / 1440 * 100vw, 1.8rem);
    right: min(25 / 1440 * 100vw, 2.5rem);
  }
}
.home .btnlayout a:hover {
  transform: scale(1.08);
}
.home .btnlayout.primary a {
  background: var(--primary);
}
.home .js-fadeinbottom {
  transition: 1.2s ease;
  transform: translateY(2em) rotate(0.0001deg);
  opacity: 0;
}
.home .js-fadeinbottom.active {
  opacity: 1;
  transform: translateY(0) rotate(0.0001deg);
}
@media (min-width: 857px) {
  .home .pcnone {
    display: none;
  }
}
.home .hoverimglink .hoverimg {
  overflow: hidden;
}
.home .hoverimglink .hoverimg img {
  transition: 0.9s ease;
}
.home .hoverimglink:hover .hoverimg img {
  transform: scale(1.125);
}
.home .underline {
  text-decoration: underline;
}
.home .underline:hover {
  text-decoration: none;
}
.home .hover-primary {
  transition: 0.5s ease;
  fill: var(--black);
}

.sec01 {
  padding-top: min(80 / 750 * 100vw, 8rem);
  position: relative;
  width: 100%;
  overflow: hidden;
}
@media (min-width: 857px) {
  .sec01 {
    padding-top: min(100 / 1440 * 100vw, 10rem);
  }
}
.sec01 .ttl {
  width: min(630 / 750 * 100vw, 63rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-bottom: min(40 / 750 * 100vw, 4rem);
  transition: 1.2s ease;
  transform: translateY(2em) rotate(0.0001deg);
  opacity: 0;
}
@media (min-width: 857px) {
  .sec01 .ttl {
    width: min(496 / 1440 * 100vw, 49.6rem);
    margin-bottom: min(40 / 1440 * 100vw, 4rem);
  }
}
.sec01 .ttl .ttltext {
  width: 100%;
  position: relative;
  left: -0.8%;
  display: block;
  margin-bottom: min(60 / 750 * 100vw, 6rem);
}
@media (min-width: 857px) {
  .sec01 .ttl .ttltext {
    position: absolute;
    top: min(30 / 1440 * 100vw, 3rem);
    left: 0;
    margin-bottom: 0;
  }
}
.sec01 .ttl .ttlpic {
  width: min(194 / 750 * 100vw, 19.4rem);
  margin-left: 6%;
  display: block;
}
@media (min-width: 857px) {
  .sec01 .ttl .ttlpic {
    width: min(210 / 1440 * 100vw, 21rem);
    margin-left: min(13 / 1440 * 100vw, 1.3rem);
  }
}
.sec01 .ttl.active {
  opacity: 1;
  transform: translateY(0) rotate(0.0001deg);
}
.sec01 p {
  text-align: center;
  font-size: min(30 / 750 * 100vw, 3rem);
  font-weight: bold;
  line-height: 2.4;
  transition: 1.2s ease;
  transform: translateY(1em);
  opacity: 0;
  margin-bottom: min(65 / 750 * 100vw, 6.5rem);
}
@media (min-width: 857px) {
  .sec01 p {
    font-size: min(18 / 1440 * 100vw, 1.8rem);
    margin-bottom: min(100 / 1440 * 100vw, 10rem);
  }
}
.sec01 p.active {
  opacity: 1;
  transform: translateY(0) rotate(0.0001deg);
}
.sec01 .bg01 {
  position: absolute;
  top: min(307 / 750 * 100vw, 30.7rem);
  left: max(((-422 / 750 * 100vw) + (-100 / 750 * 100vw * 2)), (-42.2rem) + (-10rem * 2));
  right: 0;
  margin: auto;
  width: min(422 / 750 * 100vw, 42.2rem);
  transition: 1.5s ease;
  filter: grayscale(1);
  opacity: 0;
}
@media (min-width: 857px) {
  .sec01 .bg01 {
    top: max(-80 / 1440 * 100vw, -8rem);
    left: max(((-492 / 1440 * 100vw) + (-258 / 1440 * 100vw * 2)), (-49.2rem) + (-25.8rem * 2));
    width: min(492 / 1440 * 100vw, 49.2rem);
  }
}
.sec01 .bg01.active {
  filter: grayscale(0);
  opacity: 1;
}
.sec01 .bg02 {
  position: absolute;
  top: min(563 / 750 * 100vw, 56.3rem);
  left: min(((296 / 750 * 100vw) + (103 / 750 * 100vw * 2)), (29.6rem) + (10.3rem * 2));
  right: 0;
  margin: auto;
  width: min(296 / 750 * 100vw, 29.6rem);
  transition: 1.5s ease;
  filter: grayscale(1);
  opacity: 0;
}
@media (min-width: 857px) {
  .sec01 .bg02 {
    top: min(237 / 1440 * 100vw, 23.7rem);
    left: min(((346 / 1440 * 100vw) + (288 / 1440 * 100vw * 2)), (34.6rem) + (28.8rem * 2));
    width: min(346 / 1440 * 100vw, 34.6rem);
  }
}
.sec01 .bg02.active {
  filter: grayscale(0);
  opacity: 1;
}
.sec01 .bg03 {
  position: absolute;
  top: min(1091 / 750 * 100vw, 109.1rem);
  left: max(((-226 / 750 * 100vw) + (-203 / 750 * 100vw * 2)), (-22.6rem) + (-20.3rem * 2));
  right: 0;
  margin: auto;
  width: min(226 / 750 * 100vw, 22.6rem);
  transition: 1.5s ease;
  filter: grayscale(1);
  opacity: 0;
}
@media (min-width: 857px) {
  .sec01 .bg03 {
    top: min(523 / 1440 * 100vw, 52.3rem);
    left: max(((-264 / 1440 * 100vw) + (-288 / 1440 * 100vw * 2)), (-26.4rem) + (-28.8rem * 2));
    width: min(264 / 1440 * 100vw, 26.4rem);
  }
}
.sec01 .bg03.active {
  filter: grayscale(0);
  opacity: 1;
}

.sec02 {
  background: var(--primary);
  position: relative;
  padding-top: min(80 / 750 * 100vw, 8rem);
  padding-bottom: min(100 / 750 * 100vw, 10rem);
}
@media (min-width: 857px) {
  .sec02 {
    padding-top: min(80 / 1440 * 100vw, 8rem);
    padding-bottom: min(80 / 1440 * 100vw, 8rem);
  }
}
@media (min-width: 857px) {
  .sec02 .inner-wrap {
    width: min(1200 / 1440 * 100vw, 120rem);
    margin: 0 auto;
    position: relative;
  }
}
.sec02 .ttl {
  width: min(45 / 750 * 100vw, 4.5rem);
  position: absolute;
  top: min(80 / 750 * 100vw, 8rem);
  left: max((-292 / 750 * 100vw * 2) + (-45 / 750 * 100vw), (-29.2rem * 2) + (-4.5rem));
  right: 0;
  margin: auto;
}
@media (min-width: 857px) {
  .sec02 .ttl {
    width: min(100 / 1440 * 100vw, 10rem);
    top: min(275 / 1440 * 100vw, 27.5rem);
    left: 0;
    right: auto;
  }
}
.sec02 .inner-layout {
  width: min(510 / 750 * 100vw, 51rem);
  margin: 0 auto;
}
@media (min-width: 857px) {
  .sec02 .inner-layout {
    width: min(890 / 1440 * 100vw, 89rem);
    margin-left: min(100 / 1440 * 100vw, 10rem);
  }
}
.sec02 .cardlayout {
  list-style: none;
  width: 100%;
}
.sec02 .cardlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: min(100 / 750 * 100vw, 10rem);
}
@media (min-width: 857px) {
  .sec02 .cardlist {
    align-items: flex-start;
    justify-content: center;
    margin-bottom: min(30 / 1440 * 100vw, 3rem);
    position: relative;
    min-height: min(270 / 1440 * 100vw, 27rem);
  }
}
.sec02 .cardlist .label {
  width: min(342 / 750 * 100vw, 34.2rem);
  margin-bottom: min(32 / 750 * 100vw, 3.2rem);
}
@media (min-width: 857px) {
  .sec02 .cardlist .label {
    width: min(188 / 1440 * 100vw, 18.8rem);
    margin-left: min(310 / 1440 * 100vw, 31rem);
    margin-bottom: min(26 / 1440 * 100vw, 2.6rem);
  }
}
.sec02 .cardlist .ttlmiddle {
  margin-bottom: min(32 / 750 * 100vw, 3.2rem);
}
@media (min-width: 857px) {
  .sec02 .cardlist .ttlmiddle {
    margin-left: min(310 / 1440 * 100vw, 31rem);
    margin-bottom: min(18 / 1440 * 100vw, 1.8rem);
  }
}
.sec02 .cardlist .img {
  width: min(390 / 750 * 100vw, 39rem);
  margin-bottom: min(32 / 750 * 100vw, 3.2rem);
}
@media (min-width: 857px) {
  .sec02 .cardlist .img {
    width: min(270 / 1440 * 100vw, 27rem);
    margin-bottom: 0;
    position: absolute;
    top: 0;
    left: 0;
  }
}
.sec02 .cardlist .text {
  font-size: min(28 / 750 * 100vw, 2.8rem);
  line-height: 1.8;
  color: var(--white);
}
@media (min-width: 857px) {
  .sec02 .cardlist .text {
    font-size: min(16 / 1440 * 100vw, 1.6rem);
    margin-left: min(310 / 1440 * 100vw, 31rem);
  }
}
.sec02 .cardlist small {
  display: flex;
  color: var(--white);
  margin-top: min(50 / 750 * 100vw, 5rem);
  font-size: min(22 / 750 * 100vw, 2.2rem);
  line-height: 1.4;
}
@media (min-width: 857px) {
  .sec02 .cardlist small {
    margin-left: 0;
    margin-top: 0;
    font-size: min(12 / 1440 * 100vw, 1.2rem);
    text-align: right;
    position: absolute;
    bottom: 0;
    right: max(-113 / 1440 * 100vw, -11.3rem);
  }
}
.sec02 .cardlist small:before {
  content: "※";
  display: block;
}
.sec02 .cardlist:nth-of-type(1) .ttlmiddle {
  width: min(471 / 750 * 100vw, 47.1rem);
}
@media (min-width: 857px) {
  .sec02 .cardlist:nth-of-type(1) .ttlmiddle {
    width: min(504 / 1440 * 100vw, 50.4rem);
  }
}
@media (min-width: 857px) {
  .sec02 .cardlist:nth-of-type(2) {
    left: min(80 / 1440 * 100vw, 8rem);
  }
}
.sec02 .cardlist:nth-of-type(2) .ttlmiddle {
  width: min(158 / 750 * 100vw, 15.8rem);
}
@media (min-width: 857px) {
  .sec02 .cardlist:nth-of-type(2) .ttlmiddle {
    width: min(118 / 1440 * 100vw, 11.8rem);
  }
}
@media (min-width: 857px) {
  .sec02 .cardlist:nth-of-type(3) {
    height: min(307 / 1440 * 100vw, 30.7rem);
    margin-bottom: min(71 / 1440 * 100vw, 7.1rem);
  }
}
.sec02 .cardlist:nth-of-type(3) .ttlmiddle {
  width: min(432 / 750 * 100vw, 43.2rem);
}
@media (min-width: 857px) {
  .sec02 .cardlist:nth-of-type(3) .ttlmiddle {
    width: min(324 / 1440 * 100vw, 32.4rem);
  }
}
.sec02 .inner-layout2 {
  width: min(630 / 750 * 100vw, 63rem);
  margin: 0 auto;
}
@media (min-width: 857px) {
  .sec02 .inner-layout2 {
    width: min(1000 / 1440 * 100vw, 100rem);
  }
}
.sec02 .boxlayout {
  border: solid 2px var(--secondary);
  border-top: none;
}
@media (min-width: 857px) {
  .sec02 .boxlayout {
    border-top: solid 2px var(--secondary);
  }
}
.sec02 .boxlayout .ttlmiddle2 {
  width: calc(100% + (2px*2));
  position: relative;
  left: -2px;
}
@media (min-width: 857px) {
  .sec02 .boxlayout .ttlmiddle2 {
    width: min(580 / 1440 * 100vw, 58rem);
    left: auto;
    top: min((-42 / 1440 * 100vw / 2) + 1px, (-4.2rem / 2) + 1px);
    margin: 0 auto;
  }
}
.sec02 .boxlayoutinner {
  width: 82%;
  margin: 9% auto;
}
@media (min-width: 857px) {
  .sec02 .boxlayoutinner {
    width: 89.6%;
    margin: min(28 / 1440 * 100vw, 2.8rem) auto min(52 / 1440 * 100vw, 5.2rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.sec02 .boxlayoutinner img {
  object-fit: contain;
}
@media (min-width: 857px) {
  .sec02 .boxlayoutinner img {
    width: min(300 / 1440 * 100vw, 30rem);
  }
}
.sec02 .boxlayoutinner p {
  font-size: min(28 / 750 * 100vw, 2.8rem);
  line-height: 1.8;
  color: var(--white);
  margin-top: 1.3em;
}
@media (min-width: 857px) {
  .sec02 .boxlayoutinner p {
    width: min(556 / 1440 * 100vw, 55.6rem);
    font-size: min(16 / 1440 * 100vw, 1.6rem);
    margin-top: 0;
  }
}

.sec03 {
  padding-top: min(70 / 750 * 100vw, 7rem);
  background-image: url(../img/sec03_bg.svg);
  background-repeat: repeat;
  background-position: top center;
  background-size: 10px 10px;
  padding-bottom: min(80 / 750 * 100vw, 8rem);
}
@media (min-width: 857px) {
  .sec03 {
    padding-top: min(50 / 1440 * 100vw, 5rem);
    padding-bottom: min(80 / 1440 * 100vw, 8rem);
  }
}
.sec03 .ttl {
  width: min(474 / 750 * 100vw, 47.4rem);
  margin: 0 auto;
  margin-bottom: min(52 / 750 * 100vw, 5.2rem);
}
@media (min-width: 857px) {
  .sec03 .ttl {
    width: min(505 / 1440 * 100vw, 50.5rem);
    margin-bottom: min(52 / 1440 * 100vw, 5.2rem);
  }
}
@media (min-width: 857px) {
  .sec03 .layoutbox {
    position: relative;
    width: min(1000 / 1440 * 100vw, 100rem);
    margin: 0 auto;
  }
}
.sec03 .layoutboximg {
  width: min(510 / 750 * 100vw, 51rem);
  margin: 0 auto;
  margin-bottom: min(60 / 750 * 100vw, 6rem);
}
@media (min-width: 857px) {
  .sec03 .layoutboximg {
    width: min(166 / 1440 * 100vw, 16.6rem);
    margin-bottom: 0;
  }
}
.sec03 .cardlayout {
  width: min(630 / 750 * 100vw, 63rem);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: min(20 / 750 * 100vw, 2rem);
  list-style: none;
}
@media (min-width: 857px) {
  .sec03 .cardlayout {
    width: 100%;
  }
}
.sec03 .cardlist {
  width: 100%;
  border: solid 2px var(--primary);
  background: var(--white);
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}
@media (min-width: 857px) {
  .sec03 .cardlist {
    width: min(380 / 1440 * 100vw, 38rem);
    border: solid 2px var(--primary);
    position: absolute;
  }
}
.sec03 .cardlist .cardlist-inner {
  padding: min(38 / 750 * 100vw, 3.8rem) min(60 / 750 * 100vw, 6rem);
}
@media (min-width: 857px) {
  .sec03 .cardlist .cardlist-inner {
    padding: min(32 / 1440 * 100vw, 3.2rem) min(32 / 1440 * 100vw, 3.2rem) min(26 / 1440 * 100vw, 2.6rem);
  }
}
@media (min-width: 857px) {
  .sec03 .cardlist .cardlist-inner:after {
    content: "";
    display: block;
    background-image: url(../img/sec03_cardline01.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
  }
}
.sec03 .cardlist .ttlsmall {
  margin-bottom: min(32 / 750 * 100vw, 3.2rem);
}
@media (min-width: 857px) {
  .sec03 .cardlist .ttlsmall {
    margin-bottom: min(21 / 1440 * 100vw, 2.1rem);
  }
}
.sec03 .cardlist .col1 p {
  width: min(510 / 750 * 100vw, 51rem);
  font-size: min(28 / 750 * 100vw, 2.8rem);
  line-height: 1.8;
}
@media (min-width: 857px) {
  .sec03 .cardlist .col1 p {
    width: min(318 / 1440 * 100vw, 31.8rem);
    font-size: min(16 / 1440 * 100vw, 1.6rem);
  }
}
.sec03 .cardlist .col2 .left {
  width: min(280 / 750 * 100vw, 28rem);
}
@media (min-width: 857px) {
  .sec03 .cardlist .col2 .left {
    width: min(151 / 1440 * 100vw, 15.1rem);
  }
}
.sec03 .cardlist .col2 .left p {
  font-size: min(28 / 750 * 100vw, 2.8rem);
  line-height: 1.8;
}
@media (min-width: 857px) {
  .sec03 .cardlist .col2 .left p {
    font-size: min(16 / 1440 * 100vw, 1.6rem);
  }
}
@media (min-width: 857px) {
  .sec03 .cardlist.nth-1 {
    top: 0;
    left: 0;
  }
}
@media (min-width: 857px) {
  .sec03 .cardlist.nth-1 .cardlist-inner:after {
    background-image: url(../img/sec03_cardline01.svg);
    width: min(127 / 1440 * 100vw, 12.7rem);
    height: min(14 / 1440 * 100vw, 1.4rem);
    top: min(22 / 1440 * 100vw, 2.2rem);
    right: max((-127 / 1440 * 100vw) - 2px, -12.7rem - 2px);
  }
}
.sec03 .cardlist.nth-1 .ttlsmall {
  width: min(354 / 750 * 100vw, 35.4rem);
}
@media (min-width: 857px) {
  .sec03 .cardlist.nth-1 .ttlsmall {
    width: min(295 / 1440 * 100vw, 29.5rem);
  }
}
.sec03 .cardlist.nth-1 .col2 .right {
  width: min(228 / 750 * 100vw, 22.8rem);
  position: absolute;
  top: min(145 / 750 * 100vw, 14.5rem);
  right: min(32 / 750 * 100vw, 3.2rem);
}
@media (min-width: 857px) {
  .sec03 .cardlist.nth-1 .col2 .right {
    width: min(170 / 1440 * 100vw, 17rem);
    top: min(69 / 1440 * 100vw, 6.9rem);
    right: min(11 / 1440 * 100vw, 1.1rem);
  }
}
.sec03 .cardlist.nth-2 .cardlist-inner {
  padding-bottom: min(84 / 750 * 100vw, 8.4rem);
}
@media (min-width: 857px) {
  .sec03 .cardlist.nth-2 .cardlist-inner {
    padding-bottom: min(90 / 1440 * 100vw, 9rem);
  }
}
@media (min-width: 857px) {
  .sec03 .cardlist.nth-2 .cardlist-inner:after {
    background-image: url(../img/sec03_cardline02.svg);
    width: min(127 / 1440 * 100vw, 12.7rem);
    height: min(14 / 1440 * 100vw, 1.4rem);
    top: min(60 / 1440 * 100vw, 6rem);
    left: max((-127 / 1440 * 100vw) - 2px, -12.7rem - 2px);
  }
}
@media (min-width: 857px) {
  .sec03 .cardlist.nth-2 {
    top: 0;
    right: 0;
  }
}
.sec03 .cardlist.nth-2 .ttlsmall {
  width: min(440 / 750 * 100vw, 44rem);
}
@media (min-width: 857px) {
  .sec03 .cardlist.nth-2 .ttlsmall {
    width: min(229 / 1440 * 100vw, 22.9rem);
  }
}
.sec03 .cardlist.nth-2 .col2 .right {
  width: min(200 / 750 * 100vw, 20rem);
  position: absolute;
  top: min(134 / 750 * 100vw, 13.4rem);
  right: min(60 / 750 * 100vw, 6rem);
}
@media (min-width: 857px) {
  .sec03 .cardlist.nth-2 .col2 .right {
    width: min(150 / 1440 * 100vw, 15rem);
    top: min(73 / 1440 * 100vw, 7.3rem);
    right: min(32 / 1440 * 100vw, 3.2rem);
  }
}
@media (min-width: 857px) {
  .sec03 .cardlist.nth-3 {
    bottom: min(9 / 1440 * 100vw, 0.9rem);
    left: 0;
  }
}
@media (min-width: 857px) {
  .sec03 .cardlist.nth-3 .cardlist-inner:after {
    background-image: url(../img/sec03_cardline03.svg);
    width: min(127 / 1440 * 100vw, 12.7rem);
    height: min(77 / 1440 * 100vw, 7.7rem);
    top: max(-64 / 1440 * 100vw, -6.4rem);
    right: max((-127 / 1440 * 100vw) - 2px, -12.7rem - 2px);
  }
}
.sec03 .cardlist.nth-3 .ttlsmall {
  width: min(390 / 750 * 100vw, 39rem);
}
@media (min-width: 857px) {
  .sec03 .cardlist.nth-3 .ttlsmall {
    width: min(294 / 1440 * 100vw, 29.4rem);
  }
}
@media (min-width: 857px) {
  .sec03 .cardlist.nth-4 {
    bottom: min(9 / 1440 * 100vw, 0.9rem);
    right: 0;
  }
}
@media (min-width: 857px) {
  .sec03 .cardlist.nth-4 .cardlist-inner:after {
    background-image: url(../img/sec03_cardline04.svg);
    width: min(127 / 1440 * 100vw, 12.7rem);
    height: min(77 / 1440 * 100vw, 7.7rem);
    top: max(-22 / 1440 * 100vw, -2.2rem);
    left: max((-127 / 1440 * 100vw) - 2px, -12.7rem - 2px);
  }
}
.sec03 .cardlist.nth-4 .ttlsmall {
  width: min(352 / 750 * 100vw, 35.2rem);
}
@media (min-width: 857px) {
  .sec03 .cardlist.nth-4 .ttlsmall {
    width: min(305 / 1440 * 100vw, 30.5rem);
  }
}

.sec04 .cardlayout {
  width: min(510 / 750 * 100vw, 51rem);
  margin: 0 auto;
  list-style: none;
}
@media (min-width: 857px) {
  .sec04 .cardlayout {
    width: min(1000 / 1440 * 100vw, 100rem);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
  }
}
.sec04 .cardlist {
  position: relative;
  margin-bottom: min(80 / 750 * 100vw, 8rem);
}
@media (min-width: 857px) {
  .sec04 .cardlist {
    margin-bottom: min(50 / 1440 * 100vw, 5rem);
    width: min(470 / 1440 * 100vw, 47rem);
  }
}
.sec04 .cardlist .cardmainlink {
  display: flex;
  flex-direction: column;
}
.sec04 .cardlist .cardmainlink:hover .hover-primary {
  fill: var(--primary);
}
.sec04 .cardlist .cardmainlink:hover .text {
  text-decoration: none;
}
.sec04 .cardlist .img {
  margin-bottom: min(36 / 750 * 100vw, 3.6rem);
}
@media (min-width: 857px) {
  .sec04 .cardlist .img {
    margin-bottom: min(20 / 1440 * 100vw, 2rem);
  }
}
.sec04 .cardlist .ttlsmallex {
  width: auto;
  height: min(32 / 750 * 100vw, 3.2rem);
  margin-bottom: min(20 / 750 * 100vw, 2rem);
  display: flex;
  align-items: center;
}
@media (min-width: 857px) {
  .sec04 .cardlist .ttlsmallex {
    height: min(22 / 1440 * 100vw, 2.2rem);
    margin-bottom: min(15 / 1440 * 100vw, 1.5rem);
  }
}
.sec04 .cardlist .ttlsmallex:after {
  content: "";
  display: block;
  width: min(32 / 750 * 100vw, 3.2rem);
  height: min(32 / 750 * 100vw, 3.2rem);
  background-image: url(../img/icon-arrow.svg);
  background-size: min(32 / 750 * 100vw, 3.2rem) min(32 / 750 * 100vw, 3.2rem);
  background-repeat: no-repeat;
  margin-left: min(20 / 750 * 100vw, 2rem);
}
@media (min-width: 857px) {
  .sec04 .cardlist .ttlsmallex:after {
    width: min(22 / 1440 * 100vw, 2rem);
    height: min(22 / 1440 * 100vw, 2rem);
    background-size: min(22 / 1440 * 100vw, 2rem) min(22 / 1440 * 100vw, 2rem);
    margin-left: min(10 / 1440 * 100vw, 1rem);
  }
}
.sec04 .cardlist .ttlsmallex svg {
  width: auto;
  object-fit: contain;
}
.sec04 .cardlist .ttlsmallex svg.okonomiyaki {
  width: min(133 / 750 * 100vw, 13.3rem);
}
@media (min-width: 857px) {
  .sec04 .cardlist .ttlsmallex svg.okonomiyaki {
    width: min(86 / 1440 * 100vw, 8.6rem);
  }
}
.sec04 .cardlist .ttlsmallex svg.takoyaki {
  width: min(98 / 750 * 100vw, 9.8rem);
}
@media (min-width: 857px) {
  .sec04 .cardlist .ttlsmallex svg.takoyaki {
    width: min(64 / 1440 * 100vw, 6.4rem);
  }
}
.sec04 .cardlist .ttlsmallex svg.hotchikin {
  width: min(368 / 750 * 100vw, 36.8rem);
}
@media (min-width: 857px) {
  .sec04 .cardlist .ttlsmallex svg.hotchikin {
    width: min(238 / 1440 * 100vw, 23.8rem);
  }
}
.sec04 .cardlist .ttlsmallex svg.negitama {
  width: min(269 / 750 * 100vw, 26.9rem);
}
@media (min-width: 857px) {
  .sec04 .cardlist .ttlsmallex svg.negitama {
    width: min(173 / 1440 * 100vw, 17.3rem);
  }
}
.sec04 .cardlist .ttlsmallex svg.okonomibuta {
  width: min(437 / 750 * 100vw, 43.7rem);
}
@media (min-width: 857px) {
  .sec04 .cardlist .ttlsmallex svg.okonomibuta {
    width: min(282 / 1440 * 100vw, 28.2rem);
  }
}
.sec04 .cardlist .ttlsmallex svg.jporktyopu {
  width: min(261 / 750 * 100vw, 26.1rem);
}
@media (min-width: 857px) {
  .sec04 .cardlist .ttlsmallex svg.jporktyopu {
    width: min(169 / 1440 * 100vw, 16.9rem);
  }
}
.sec04 .cardlist .text {
  font-size: min(28 / 750 * 100vw, 2.8rem);
  line-height: 1.8;
  text-decoration: underline;
}
@media (min-width: 857px) {
  .sec04 .cardlist .text {
    font-size: min(16 / 1440 * 100vw, 1.6rem);
  }
}
.sec04 .cardsub {
  display: block;
  width: min(154 / 750 * 100vw, 15.4rem);
  position: absolute;
  top: min(206 / 750 * 100vw, 20.6rem);
  right: max(-40 / 750 * 100vw, -4rem);
}
@media (min-width: 857px) {
  .sec04 .cardsub {
    width: min(140 / 1440 * 100vw, 14rem);
    top: min(197 / 1440 * 100vw, 19.7rem);
    right: max(-30 / 1440 * 100vw, -3rem);
  }
}
.sec04 .cardsub img {
  transition: 0.5s ease;
  filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.1));
}
.sec04 a.cardsub:hover img {
  transform: scale(1.08);
}
.sec04 .sec04_1 {
  background: var(--tertiary);
  padding-top: min(60 / 750 * 100vw, 6rem);
  padding-bottom: min(60 / 750 * 100vw, 6rem);
  overflow: hidden;
  position: relative;
}
@media (min-width: 857px) {
  .sec04 .sec04_1 {
    padding-top: min(49 / 1440 * 100vw, 4.9rem);
    padding-bottom: min(40 / 1440 * 100vw, 4.5rem);
    overflow: inherit;
  }
}
.sec04 .sec04_1 .ttl {
  width: min(470 / 750 * 100vw, 47rem);
  margin: 0 auto;
  margin-bottom: min(42 / 750 * 100vw, 4.2rem);
  transform: translateY(2em) rotate(0.0001deg);
  opacity: 0;
  transition: 0.5s ease;
}
@media (min-width: 857px) {
  .sec04 .sec04_1 .ttl {
    width: min(557 / 1440 * 100vw, 55.7rem);
    margin-bottom: min(25 / 1440 * 100vw, 2.5rem);
  }
}
.sec04 .sec04_1 .ttl.active {
  transform: translateY(0) rotate(0.0001deg);
  opacity: 1;
}
.sec04 .sec04_1 p {
  font-size: min(28 / 750 * 100vw, 2.8rem);
  line-height: 1.8;
  text-align: center;
  color: var(--white);
  transform: translateY(2em) rotate(0.0001deg);
  opacity: 0;
  transition: 0.5s ease;
}
@media (min-width: 857px) {
  .sec04 .sec04_1 p {
    font-size: min(16 / 1440 * 100vw, 1.6rem);
  }
}
.sec04 .sec04_1 p.active {
  transform: translateY(0) rotate(0.0001deg);
  opacity: 1;
}
.sec04 .sec04_1 .bg01 {
  width: min(117 / 750 * 100vw, 11.7rem);
  position: absolute;
  top: min(261 / 750 * 100vw, 26.1rem);
  left: max((-224 / 750 * 100vw * 2) + (-117 / 750 * 100vw), (-22.4rem * 2) + (-11.7rem));
  right: 0;
  margin: auto;
  transition: 1.5s ease;
  filter: grayscale(1);
  opacity: 0;
}
@media (min-width: 857px) {
  .sec04 .sec04_1 .bg01 {
    width: min(94 / 1440 * 100vw, 9.4rem);
    top: min(3 / 1440 * 100vw, 0.3rem);
    left: max((-405 / 1440 * 100vw * 2) + (-94 / 1440 * 100vw), (-40.5rem * 2) + (-9.4rem));
  }
}
.sec04 .sec04_1 .bg01.active {
  filter: grayscale(0);
  opacity: 1;
}
.sec04 .sec04_1 .bg02 {
  width: min(195 / 750 * 100vw, 19.5rem);
  position: absolute;
  top: min(146 / 750 * 100vw, 14.6rem);
  left: min((195 / 750 * 100vw) + (203 / 750 * 100vw * 2), (19.5rem) + (20.3rem * 2));
  right: 0;
  margin: auto;
  transition: 1.5s ease;
  filter: grayscale(1);
  opacity: 0;
}
@media (min-width: 857px) {
  .sec04 .sec04_1 .bg02 {
    width: min(201 / 1440 * 100vw, 20.1rem);
    top: min(18 / 1440 * 100vw, 1.8rem);
    left: min((535 / 1440 * 100vw * 2) + (201 / 1440 * 100vw), (53.5rem * 2) + (20.1rem));
  }
}
.sec04 .sec04_1 .bg02.active {
  filter: grayscale(0);
  opacity: 1;
}
.sec04 .sec04_1 .bg03 {
  width: min(249 / 750 * 100vw, 24.9rem);
  position: absolute;
  top: min(285 / 750 * 100vw, 28.5rem);
  left: min((249 / 750 * 100vw) + (150 / 750 * 100vw * 2), (24.9rem) + (15rem * 2));
  right: 0;
  margin: auto;
  transition: 1.5s ease;
  filter: grayscale(1);
  opacity: 0;
}
@media (min-width: 857px) {
  .sec04 .sec04_1 .bg03 {
    width: min(254 / 1440 * 100vw, 25.4rem);
    top: min(22 / 1440 * 100vw, 2.2rem);
    left: min((292 / 1440 * 100vw * 2) + (254 / 1440 * 100vw), (29.2rem * 2) + (25.4rem));
  }
}
.sec04 .sec04_1 .bg03.active {
  filter: grayscale(0);
  opacity: 1;
}
.sec04 .sec04_2 {
  position: relative;
  padding-top: min(80 / 750 * 100vw, 8rem);
  padding-bottom: min(80 / 750 * 100vw, 8rem);
  background-image: url(../img/sec04_2_bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .sec04 .sec04_2 {
    background-image: url(../img/sec04_2_bg@2x.png);
  }
}
@media (min-width: 857px) {
  .sec04 .sec04_2 {
    padding-top: min(80 / 1440 * 100vw, 8rem);
    padding-bottom: min(80 / 1440 * 100vw, 8rem);
    background-image: url(../img/sec04_2_bg--pc.png);
    background-size: calc(1440/1440*100vw) calc(650/1440*100vw);
  }
}
@media (min-width: 857px) {
  .sec04 .sec04_2 .inner-layout {
    width: min(1200 / 1440 * 100vw, 120rem);
    margin: 0 auto;
    display: flex;
  }
}
.sec04 .sec04_2 .ttlsmall {
  width: min(47 / 750 * 100vw, 4.7rem);
  position: absolute;
  top: min(80 / 750 * 100vw, 8rem);
  left: max((-292 / 750 * 100vw * 2) + (-47 / 750 * 100vw), (-29.2rem * 2) + (-4.7rem));
  right: 0;
  margin: auto;
}
@media (min-width: 857px) {
  .sec04 .sec04_2 .ttlsmall {
    width: min(42 / 1440 * 100vw, 4.2rem);
    position: static;
    margin: 0;
    margin-right: min(57 / 1440 * 100vw, 5.7rem);
  }
}
.sec04 .sec04_2 .btnlayout img {
  width: min(440 / 750 * 100vw, 44rem);
}
@media (min-width: 857px) {
  .sec04 .sec04_2 .btnlayout img {
    width: min(286 / 1440 * 100vw, 28.6rem);
  }
}
.sec04 .sec04_3 {
  position: relative;
  padding-top: min(80 / 750 * 100vw, 8rem);
  padding-bottom: min(80 / 750 * 100vw, 8rem);
  background-image: url(../img/sec04_3_bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .sec04 .sec04_3 {
    background-image: url(../img/sec04_3_bg@2x.png);
  }
}
@media (min-width: 857px) {
  .sec04 .sec04_3 {
    padding-top: min(80 / 1440 * 100vw, 8rem);
    padding-bottom: min(80 / 1440 * 100vw, 8rem);
    background-image: url(../img/sec04_3_bg--pc.png);
    background-size: calc(1440/1440*100vw) calc(650/1440*100vw);
  }
}
@media (min-width: 857px) {
  .sec04 .sec04_3 .inner-layout {
    width: min(1200 / 1440 * 100vw, 120rem);
    margin: 0 auto;
    display: flex;
  }
}
.sec04 .sec04_3 .ttlsmall {
  width: min(42 / 750 * 100vw, 4.2rem);
  position: absolute;
  top: min(80 / 750 * 100vw, 8rem);
  left: max((-292 / 750 * 100vw * 2) + (-42 / 750 * 100vw), (-29.2rem * 2) + (-4.2rem));
  right: 0;
  margin: auto;
}
@media (min-width: 857px) {
  .sec04 .sec04_3 .ttlsmall {
    width: min(42 / 1440 * 100vw, 4.2rem);
    position: static;
    margin: 0;
    margin-right: min(57 / 1440 * 100vw, 5.7rem);
  }
}
.sec04 .sec04_3 .btnlayout img {
  width: min(366 / 750 * 100vw, 36.6rem);
}
@media (min-width: 857px) {
  .sec04 .sec04_3 .btnlayout img {
    width: min(236 / 1440 * 100vw, 23.6rem);
  }
}

.sec05 {
  background: var(--secondary);
  padding-top: min(60 / 750 * 100vw, 6rem);
  position: relative;
}
.sec05 .ttl {
  width: min(430 / 750 * 100vw, 43rem);
  margin: 0 auto;
  margin-bottom: min(60 / 750 * 100vw, 6rem);
}
@media (min-width: 857px) {
  .sec05 .ttl {
    width: min(534 / 1440 * 100vw, 53.4rem);
    margin-bottom: min(50 / 1440 * 100vw, 5rem);
  }
}
@media (min-width: 857px) {
  .sec05 .inner-layout {
    width: min(1200 / 1440 * 100vw, 120rem);
    margin: 0 auto;
    display: flex;
  }
}
.sec05 .ttlsmall {
  width: min(47 / 750 * 100vw, 4.7rem);
  position: absolute;
  top: min(272 / 750 * 100vw, 27.2rem);
  left: max((-292 / 750 * 100vw * 2) + (-47 / 750 * 100vw), (-29.2rem * 2) + (-4.7rem));
  right: 0;
  margin: auto;
}
@media (min-width: 857px) {
  .sec05 .ttlsmall {
    width: min(42 / 1440 * 100vw, 4.2rem);
    position: static;
    margin: 0;
    margin-right: min(57 / 1440 * 100vw, 5.7rem);
  }
}
.sec05 .cardlayout {
  width: min(510 / 750 * 100vw, 51rem);
  margin: 0 auto;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: min(40 / 750 * 100vw, 4rem);
  margin-bottom: min(80 / 750 * 100vw, 8rem);
}
@media (min-width: 857px) {
  .sec05 .cardlayout {
    width: min(1000 / 1440 * 100vw, 100rem);
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    margin-bottom: min(80 / 1440 * 100vw, 8rem);
    gap: min(40 / 1440 * 100vw, 4rem) min(34 / 1440 * 100vw, 3.4rem);
  }
}
.sec05 .cardlist {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}
@media (min-width: 857px) {
  .sec05 .cardlist {
    width: min(310 / 1440 * 100vw, 31rem);
  }
}
.sec05 .cardlist:hover .ttltext {
  text-decoration: none;
}
.sec05 .cardmainlink {
  display: block;
  background: var(--white);
  position: relative;
  height: 100%;
}
.sec05 .cardmainlink:after {
  content: "";
  display: block;
  width: min(60 / 750 * 100vw, 6rem);
  height: min(60 / 750 * 100vw, 6rem);
  background: var(--primary);
  position: absolute;
  bottom: 0;
  right: 0;
  background-image: url(../img/icon-targetblank.svg);
  background-repeat: no-repeat;
  background-size: min(24 / 750 * 100vw, 2.4rem) min(24 / 750 * 100vw, 2.4rem);
  background-position: center;
}
@media (min-width: 857px) {
  .sec05 .cardmainlink:after {
    width: min(34 / 1440 * 100vw, 3.4rem);
    height: min(34 / 1440 * 100vw, 3.4rem);
    background-size: min(14 / 1440 * 100vw, 1.4rem) min(14 / 1440 * 100vw, 1.4rem);
  }
}
.sec05 .ttltext {
  font-size: min(28 / 750 * 100vw, 2.8rem);
  line-height: 1.8;
  padding: min(35 / 750 * 100vw, 3.5rem) min(60 / 750 * 100vw, 6rem) min(50 / 750 * 100vw, 5rem);
  text-decoration: underline;
}
@media (min-width: 857px) {
  .sec05 .ttltext {
    font-size: min(16 / 1440 * 100vw, 1.6rem);
    padding: min(30 / 1440 * 100vw, 3rem) min(30 / 1440 * 100vw, 3rem) min(50 / 1440 * 100vw, 5rem);
  }
}

.sec06 {
  padding-top: min(80 / 750 * 100vw, 8rem);
  padding-bottom: min(120 / 750 * 100vw, 12rem);
  position: relative;
}
@media (min-width: 857px) {
  .sec06 {
    padding-top: min(80 / 1440 * 100vw, 8rem);
    padding-bottom: min(100 / 1440 * 100vw, 10rem);
  }
}
@media (min-width: 857px) {
  .sec06 .inner-layout {
    width: min(1200 / 1440 * 100vw, 120rem);
    margin: 0 auto;
    display: flex;
  }
}
.sec06 .ttl {
  width: min(47 / 750 * 100vw, 4.7rem);
  position: absolute;
  top: min(80 / 750 * 100vw, 8rem);
  left: max((-292 / 750 * 100vw * 2) + (-47 / 750 * 100vw), (-29.2rem * 2) + (-4.7rem));
  right: 0;
  margin: auto;
}
@media (min-width: 857px) {
  .sec06 .ttl {
    width: min(42 / 1440 * 100vw, 4.2rem);
    position: static;
    margin: 0;
    margin-right: min(57 / 1440 * 100vw, 5.7rem);
  }
}
.sec06 .col2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 857px) {
  .sec06 .col2 {
    width: min(1000 / 1440 * 100vw, 100rem);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.sec06 .left {
  position: relative;
  width: min(510 / 750 * 100vw, 51rem);
}
@media (min-width: 857px) {
  .sec06 .left {
    width: min(470 / 1440 * 100vw, 47rem);
  }
}
.sec06 .left .img {
  position: absolute;
  top: 0;
  left: 0;
  transition: 1.2s ease;
  transform: translateY(2em) rotate(0.0001deg);
  opacity: 0;
}
.sec06 .left .img.active {
  transform: translateY(0) rotate(0.0001deg);
  opacity: 1;
}
.sec06 .right {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: min(510 / 750 * 100vw, 51rem);
  transition: 1.2s ease;
  transform: translateY(2em) rotate(0.0001deg);
  opacity: 0;
}
@media (min-width: 857px) {
  .sec06 .right {
    align-items: flex-start;
    width: min(470 / 1440 * 100vw, 47rem);
  }
}
.sec06 .right.active {
  transform: translateY(0) rotate(0.0001deg);
  opacity: 1;
}
.sec06 .right .ttlsmall {
  width: min(295 / 750 * 100vw, 29.5rem);
  margin-top: min(60 / 750 * 100vw, 6rem);
  margin-bottom: min(42 / 750 * 100vw, 4.2rem);
}
@media (min-width: 857px) {
  .sec06 .right .ttlsmall {
    width: min(396 / 1440 * 100vw, 39.6rem);
    margin-top: 0;
    margin-bottom: min(25 / 1440 * 100vw, 2.5rem);
  }
}
.sec06 .right p {
  font-size: min(28 / 750 * 100vw, 2.8rem);
  line-height: 1.8;
  margin-bottom: 1em;
}
@media (min-width: 857px) {
  .sec06 .right p {
    font-size: min(16 / 1440 * 100vw, 1.6rem);
  }
}
.sec06 .right p:last-of-type {
  margin-bottom: 0;
}
.sec06 .right p a {
  text-decoration: underline;
}
.sec06 .right p a:hover {
  text-decoration: none;
}
.sec06 .btnlayout {
  margin-top: min(70 / 750 * 100vw, 7rem);
  margin-left: max(-60 / 750 * 100vw, -6rem);
  transition: 1.2s ease;
  transform: translateY(2em) rotate(0.0001deg);
  opacity: 0;
}
@media (min-width: 857px) {
  .sec06 .btnlayout {
    margin-top: min(40 / 1440 * 100vw, 4rem);
    margin-left: 0;
  }
}
.sec06 .btnlayout.active {
  transform: translateY(0) rotate(0.0001deg);
  opacity: 1;
}
.sec06 .btnlayout img {
  width: min(470 / 750 * 100vw, 47rem);
}
@media (min-width: 857px) {
  .sec06 .btnlayout img {
    width: min(308 / 1440 * 100vw, 30.8rem);
  }
}

/*# sourceMappingURL=style.css.map */
