@use "../global/_setting" as *;

// .btn__normal
.btn__normal {
  a,
  .div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(95/750*100vw);
    background: colors(primary);
    color: colors(white);
    position: relative;
    font-size: calc(33/750*100vw);
    overflow: hidden;
    @include media(pc) {
      height: min(54/1440*100vw, 5.4rem);
      font-size: min(18/1440*100vw, 1.8rem);
    }
    .btntext {
      text-align: center;
      line-height: 1.266;
      position: relative;
      @include z-index-2;
    }
    &:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 10vw;
      height: 10vw;
      margin: auto;
      background-color: colors(bg-dark);
      border-radius: 50%;
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
      -webkit-transition: 0.85s ease all;
      -o-transition: 0.85s ease all;
      transition: 0.85s ease all;
      @include z-index-1;
      @include media(pc) {
        width: 2.2vw;
        height: 2.2vw;
      }
    }
    &:after {
      content: "";
      width: calc(24/750*100vw);
      height: calc(24/750*100vw);
      display: block;
      background-image: url(../img/icon-blank.svg);
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0.787em;
      @include z-index-2;
      @include media(pc) {
        width: min(18.5/1440*100vw, 1.85rem);
        height: min(18.5/1440*100vw, 1.85rem);
      }
    }
    // hover
    &:hover {
      &:before {
        transform: scale(10);
      }
    }
  }
  // パターン別
  // .fs30--sp
  &.fs30--sp {
    a {
      font-size: calc(30/750*100vw);
    }
  }
  // .fs18--pc
  &.fs18--pc {
    a {
      @include media(pc) {
        font-size: min(18/1440*100vw, 1.8rem);
      }
      &:before {
        @include media(pc) {
          width: 3.4vw;
          height: 3.4vw;
        }
      }
    }
  }
  // .type2
  &.type2 {
    a {
      &:before {
        @include media(pc) {
          width: 3.4vw;
          height: 3.4vw;
        }
      }
    }
  }
}
