// .underlayer
.underlayer {
  width: 1100px;
  margin: 0 auto;
  @include media(tb) {
    width: 100%;
    padding: 0 20px;
  }
}

// .underlayer__sec
.underlayer__sec {
  width: 100%;
}

// .sitelink
.underlayer {
  & + .sitelink {
    margin: 0 auto 40px;
  }
}

// .project-zero
.project-zero {
  width: 100%;
  background: colors(bg-gray);
  display: flex;;
  justify-content: center;
  padding: 3rem 0 3.2rem;
  margin-bottom: 10rem;
}
.btn__project-zero {
  width: 22rem;
}

// .nav-company
.nav-company {
  width: 100%;
  background: colors(color-company);
  margin-top: 10rem;
}
.nav-company__inner {
  width: 1100px;
  margin: 0 auto;
  @include media(tb) {
    width: 100%;
    padding: 0 20px;
  }
}
.nav-company-ul {
  width: calc(100% - 21.545%);
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-left: 21.545%;
  padding: 5rem 0 5.5rem;
  @include media(sp) {
    margin-left: -20px;
    width: 100vw;
    justify-content: center;
    padding: 0 0 3.5rem;
  }
}
.nav-company-ul__li-first {
  width: 27.61%;
  height: calc(100% - (5rem + 5.5rem));
  position: absolute;
  top: 5rem;
  left: -27.61%;
  border-right: solid 1px rgba(255,255,255,0.4);
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  @include media(sp) {
    position: static;
    width: 100%;
    border-right: none;
    font-size: 1.7rem;
  }
}
.nav-company-ul__li-first--a {
  color: colors(white);
  width: 8em;
  //background: red;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include media(sp) {
    flex-direction: row;
    width: 100%;
    border-bottom: solid 1px colors(white);
    padding: 1.5em 0;
    padding-left: 20px;
  }
  &:before {
    content: "";
    width: 5.1rem;
    height: 5.1rem;
    display: block;
    background-image: url(../images/underlayer/icon_nav-company.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 0.85em;
    transition: all 0.2s;
    @include media(sp) {
      margin-bottom: 0;
      width: 3.1rem;
      height: 3.1rem;
    }
  }
  &:hover {
    &:before {
      background-image: url(../images/underlayer/icon_nav-company_hover.svg);
    }
  }
}
.nav-company-ul__li {
  width: 27.5%;
  margin-left: calc((100% - (27.5% * 3)) / 3);
  line-height: 1;
  font-size: 1.6rem;
  @include media(tb) {
    font-size: 1.5rem;
  }
  @include media(sp) {
    width: calc(50% - (20px + 10px));
    margin-left: 10px;
    margin-right: 10px;
  }
}
.nav-company-ul__li--a {
  color: colors(white);
  border-bottom: solid 1px colors(white);
  padding: 1.25em 0;
  background-image: url(../images/underlayer/icon_arrow_white.svg);
  background-size: 7px 11px;
  background-repeat: no-repeat;
  background-position: center right;
  &:hover {
    background-image: url(../images/underlayer/icon_arrow_color-base.svg);
  }
}