// .underlayer
.underlayer {
  width: 1100px;
  margin: 0 auto;
  @include media(tb) {
    width: 100%;
    padding: 0 20px;
  }
}

// .underlayer__sec
.underlayer__sec {
  width: 100%;
}

.underlayer {
  & + .sitelink {
    margin: 0 auto 40px;
  }
}

.project-zero {
  width: 100%;
  background: colors(bg-gray);
  display: flex;;
  justify-content: center;
  padding: 3rem 0 3.2rem;
  margin-bottom: 10rem;
  .btn__project-zero {
    width: 22rem;
  }
}